<div class="snow-editor" data-user-id="{{userId}}">
    <div class="snow-editor__tools">
        <div class="snow-editor__buttons">
            <div class="snow-editor-button" data-role="undo" title="Отмена последнего действия">
                <svg width="20" height="20" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                    <path d="m257.78991,147.11723l0,-98.3439l-235.23521,171.41879l235.23521,171.4203l0,-104.38496c136.83237,-7.03767 228.89459,17.84729 230.89459,86.64318c11,126.17919 -140.0358,155.55076 -172.0358,169.55076l0,1.27479c0,0 262.906,11.33775 262.906,-240.90812c-20,-174.1745 -218.16914,-154.62136 -321.76479,-156.67084z"
                          fill="currentColor"/>
                </svg>
            </div>
        </div>
        <div class="snow-editor-tool" data-role="add"></div>
        <div class="snow-editor-tool" data-role="erase"></div>
        <div class="snow-editor-tool" data-role="paint"></div>
        <div class="snow-editor-tool" data-role="props"></div>
        <div class="snow-editor__buttons">
            <div class="snow-editor__button-free"></div>
            <div class="snow-editor-button" data-role="clear" title="Удалить все">
                <svg width="20" height="20" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                    <path d="m517.71969,442.21438l-142.97342,-142.97342l142.94743,-142.97342l-73.48761,-73.53958l-142.97342,142.97342l-142.97342,-142.97342l-73.48761,73.53958l142.94743,142.97342l-142.97342,142.97342l73.53958,73.5136l142.94743,-142.97342l142.94743,142.97342"
                          fill="currentColor"/>
                </svg>
            </div>
        </div>
    </div>
    <div class="snow-editor__buttons">
        <div class="snow-editor__shape" title="Сфера" data-shape="sphere">
            <svg width="20" height="20" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                <path d="m-178.1,198.84472l0.56913,0l0.17587,-0.38196l0.17587,0.38196l0.56913,0l-0.46044,0.23606l0.17588,0.38196l-0.46044,-0.23607l-0.46044,0.23607l0.17588,-0.38196l-0.46044,-0.23606z"
                      stroke="currentColor" fill="none"/>
                <path stroke="currentColor" stroke-width="46"
                      d="m298.49999,569.99997c-149.4475,0 -270.49998,-121.05248 -270.49998,-270.49998c0,-149.4475 121.05248,-270.49998 270.49998,-270.49998c149.4475,0 270.49998,121.05248 270.49998,270.49998c0,149.4475 -121.05248,270.49998 -270.49998,270.49998z"
                      opacity="undefined" fill="none"/>
                <path stroke="currentColor" d="m295,31.99999l1,538.015" stroke-width="46"
                      fill="none"/>
                <path d="m285,312" stroke-width="46" stroke="currentColor" fill="none"/>
                <path d="m173,126" stroke-width="46" stroke="currentColor" fill="none"/>
                <path d="m179,64" stroke-width="46" stroke="currentColor" fill="none"/>
                <path d="m216,44c-66,113 -90,159 -92,262c-2,103 61,191 96,251" stroke-width="46"
                      stroke="currentColor" fill="none"/>
                <path transform="rotate(-179.906 419.029 299.017)"
                      d="m467.05451,38.01558c-66,113 -94.00325,157.03778 -96.00325,260.03778c-2,103 59.00983,201.9655 94.00983,261.9655"
                      stroke-width="46" stroke="currentColor" fill="none"/>
            </svg>
        </div>
        <div class="snow-editor__shape" title="Круг" data-shape="circle">
            <svg width="20" height="20" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                <path d="m-178.1,198.84472l0.56913,0l0.17587,-0.38196l0.17587,0.38196l0.56913,0l-0.46044,0.23606l0.17588,0.38196l-0.46044,-0.23607l-0.46044,0.23607l0.17588,-0.38196l-0.46044,-0.23606z" stroke="currentColor" fill="none"/>
                <path stroke="currentColor" stroke-width="46" d="m298.49999,570.99997c-149.4475,0 -270.49998,-121.05248 -270.49998,-270.49998c0,-149.4475 121.05248,-270.49998 270.49998,-270.49998c149.4475,0 270.49998,121.05248 270.49998,270.49998c0,149.4475 -121.05248,270.49998 -270.49998,270.49998z" opacity="undefined" fill="none"/>
                <line y2="44" x2="383" y1="334" x1="34" stroke-width="46" stroke="currentColor" fill="none"/>
                <line y2="136" x2="501" y1="473" x1="99" stroke-width="46" stroke="currentColor" fill="none"/>
                <path d="m219,559l349,-292" opacity="undefined" stroke-width="46" stroke="currentColor" fill="none"/>
            </svg>
        </div>
        <div class="snow-editor__shape" title="Цилиндр" data-shape="cylinder">
            <svg width="20" height="20" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                <ellipse ry="108" rx="271" id="svg_21" cy="138" cx="300" stroke-width="46" stroke="currentColor"
                         fill="none"/>
                <path d="m569,462" stroke-width="46" stroke="currentColor" fill="none"/>
                <path transform="rotate(-179.817 299 521)" id="svg_23"
                      d="m28,575c0,-59.66851 121.27624,-108 271,-108c149.72376,0 271,48.33149 271,108"
                      opacity="undefined" stroke-width="46" stroke="currentColor" fill="none"/>
                <line y2="579.05294" x2="301" y1="239" x1="301" stroke-width="46" stroke="currentColor" fill="none"/>
                <line y2="477.05294" x2="571" y1="137" x1="571" stroke-width="46" stroke="currentColor" fill="none"/>
                <line y2="478.05294" x2="29" y1="138" x1="29" stroke-width="46" stroke="currentColor" fill="none"/>
                <line y2="553.05294" x2="125" y1="213" x1="125" stroke-width="46" stroke="currentColor" fill="none"/>
                <line y2="557.05294" x2="472" y1="217" x1="472" stroke-width="46" stroke="currentColor" fill="none"/>
            </svg>
        </div>
        <div class="snow-editor__shape" title="Квадрат" data-shape="rect">
            <svg width="20" height="20" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                <rect height="503" width="503" y="46" x="49" stroke-width="46" stroke="currentColor" fill="none"/>
                <line y2="537.23143" x2="296" y1="51" x1="296" stroke-width="46" stroke="currentColor" fill="none"/>
                <line y2="535.23143" x2="169" y1="49" x1="169" stroke-width="46" stroke="currentColor" fill="none"/>
                <line y2="541.23143" x2="426" y1="55" x1="426" stroke-width="46" stroke="currentColor" fill="none"/>
            </svg>
        </div>
        <div class="snow-editor__shape" title="Конус" data-shape="cone">
            <svg width="20" height="20" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                <path stroke="currentColor" d="m293,68.00001c-118,227 -256,496.99999 -256,496.99999c0,0 525,0 525,0c0,0 -140,-266.99999 -269,-496.99999z" stroke-width="46" fill="none"/>
                <path d="m93,458l415.06447,0" stroke-width="46" stroke="currentColor" fill="none"/>
                <line y2="342" x2="435.83328" y1="342" x1="166" stroke-width="46" stroke="currentColor" fill="none"/>
                <line y2="231" x2="372.76906" y1="231" x1="217" stroke-width="46" stroke="currentColor" fill="none"/>
            </svg>
        </div>
        <div class="snow-editor__button-free"></div>
        <div class="snow-editor__size" data-value="2">1x</div>
        <div class="snow-editor__size" data-value="4">2x</div>
        <div class="snow-editor__size" data-value="7">3x</div>
        <div class="snow-editor__size" data-value="9">4x</div>
    </div>
    <div class="snow-editor__canvas"></div>
    <div class="snow-editor__colors">
        <div class="snow-editor-color" data-value="1"></div>
        <div class="snow-editor-color" data-value="11"></div>
        <div class="snow-editor-color" data-value="2"></div>
        <div class="snow-editor-color" data-value="3"></div>
        <div class="snow-editor-color" data-value="12"></div>
        <div class="snow-editor-color" data-value="4"></div>
        <div class="snow-editor-color" data-value="5"></div>
        <div class="snow-editor-color" data-value="6"></div>
        <div class="snow-editor-color" data-value="7"></div>
        <div class="snow-editor-color" data-value="8"></div>
        <div class="snow-editor-color" data-value="9"></div>
        <div class="snow-editor-color" data-value="10"></div>
    </div>
    <div class="snow-editor__props">
        {{#each props}}
            <div class="snow-editor-prop" data-value="{{i}}"></div>
        {{/each}}
    </div>
    <div class="snow-editor__message snow-editor__message_error" data-group="save" hidden>
        Что-то поломалось и мы не можем сохранить вашу работу. Попробуйте повторить сохранение чуть позже.
    </div>
    <div class="snow-editor__message snow-editor__message_success" data-group="save" hidden>
        Успешно сохранено! В течение пары минут ваш снеговик появится в вашем профиле
        <a href="https://pikabu.ru/@{{userName}}" style="color: var(--color-bright-900)" target="_blank">https://pikabu.ru/@{{userName}}</a>
    </div>
    <div class="snow-editor__message snow-editor__message_warning">
        Для сохранения работы вам необходимо авторизоваться на Пикабу
    </div>
    <div class="snow-editor__save">
        <button class="button button_success" data-role="save" type="button">Опубликовать в профиль</button>
        <span>сохраняем...</span>
    </div>

    <div class="snow-editor__message snow-editor__message_error" data-group="destroy" hidden>
        Что-то поломалось и мы не можем удалить снеговика из вашего профиля. Попробуйте повторить запрос чуть позже.
    </div>
    <div class="snow-editor__message snow-editor__message_success" data-group="destroy" hidden>
        Успешно удалено из профиля!
    </div>
    <div class="snow-editor__destroy">
        <button class="button button_danger" data-role="destroy" type="button">Удалить из профиля</button>
        <span>применяем...</span>
    </div>
</div>